{% extends 'vendas/base.html' %}
  {% block conteudo %}
      <form action='{% url 'vendas'%}' method="post">
        {% csrf_token %}
        <div style="text-align: center;" class="container">
          <p></p>
        <h1>Cadastro de Vendas - Loja Iraross</h1>
        <p></p>
         Data <input name="data" class="" type="text">
         Produto <select name="produto" required id="id_produto">
          <option value="" selected>---------</option>
          <option value="Jogo americano 6 pçs">Jogo americano 6 pçs</option>
          <option value="Jogo americano 8 pçs">Jogo americano 8 pçs</option>
          <option value="Sousplat 6 pçs">Sousplat 6 pçs</option>
          <option value="Sousplat 8 pçs">Sousplat 8 pçs</option>
        </select>
         Valor <input name="valor" class="form-control-sm" type="text">
         Cliente <input name="cliente" class="form-control-sm" type="text">
         <button class="form-control-sm">Enviar</button>
        </div>
    </form>

{% endblock %}

    