{% extends 'vendas/base.html' %}
  {% block conteudo %}
  <div class ="container">
    <p></p>
    <h1>Vendas Cadastradas - Loja Iraross</h1>
    <p></p>
    <table class="table table-bordered table-striped">
        <tr>
        <th>id</th>
        <th>Data</th>
        <th>Produto</th>
        <th>Valor</th>
        <th>Cliente</th>
        </tr>
        {% for venda in listavendas %}
    <tr>
        <td>{{venda.id_vendas}}</td>
            <td>{{venda.data}}</td>
            <td>{{venda.produto}}</td>
            <td>R$ {{venda.valor}}</td>
            <td>{{venda.cliente}}</td>
        </tr> 
        {% endfor %}   
    </table>
</div>
{% endblock %}
